*{
    font-size: 12px;
}
*:focus {
   outline: 0;
}
/*.wrapper {
    background: linear-gradient(to right, #1469b0 0%, rgb(233 248 10) 100%);
}*/
li{
    color:#000;
 }
.content-page {
    padding: 100px 15px 0;
}
.iq-top-navbar {
    margin: 10px 30px;
}
.avatar-130{
	border-radius: 50%;
}
.iq-card .iq-card-header {
    margin-bottom: 10px;
}
.iq-submenu {
    background: #fff;
    border-radius: 0 0 15px 15px;
}
.has-float-label.has-required label:before {
    content:"*"; 
    color:red; 
}
.profile-user-info{
    display: table;
}
.profile-info-row{
    display: table-row;
}
.profile-info-name {
    display: table-cell;
    text-align: left;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    min-width: 110px;
    vertical-align: middle;
}
.profile-info-value{
    display: table-cell;
    border-top: 1px dotted #D5E4F1;
    padding-top: 5px;
}

.form-group.required label:after {
    content:"*"; 
    color:red; 
}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    top: .9em;
    font-size: 12px;
    opacity: 1;
}
.has-float-label label, .has-float-label>span {
    font-size: 12px;
}
.form-group{
	margin-bottom: 12px;
}
.form-control {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}
.capitalize{
	text-transform: capitalize;
}
.select-search-group{
    height: 36px;
}
.select-search-group .select2 {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
}
.select-search-group.has-float-label label{
    top: -6px;
    left: 15px;
    outline: none;
    background: #fff;
}
.select2-container .select2-selection--single {
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #414141;
    line-height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #c6c6c6;
    border-radius: 10px;
}
.loading-select{
    z-index: 5;
    position: absolute;
    top: 8px;
    left: 50%;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #e9ecef;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error label {
    color: #a94442;
}
.has-error .select2 .selection .select2-selection {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.pb-15{
    padding-bottom: 15px !important;
}
.custom-control-inline {
    display: inline-block;
}
.btn-100{
    width:100px;
}
.card-header {
    background-color: rgb(244 254 255);
    border: 0;
}
.f-16{
    font-size: 16px;
}
.invalid-feedback {
    font-size: 12px;
}
.pt-40{
    padding-top: 40px;
}
.breadcrumb{
    background-color: #fff;
    border-radius: 15px;
}
.panel{
    background: #fff;
    border-radius: 15px;
    margin-bottom: 1rem;
}
#searchContent .breadcrumbs .breadcrumb{
    padding:0;
    margin-bottom: 0;
    padding-top:10px; 
}
.breadcrumb>li, .breadcrumb>li.active {
    padding: 0 3px;
}
.breadcrumb>li+li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #B2B6BF;
    padding: 0;
    margin: 0 8px 0 0;
    position: relative;
    top: 1px;
}
table th input{
    height: 30px !important;
    border: 1px solid #c4e5e8 !important;
    border-radius: 5px !important;
    text-align: center !important;
}
.panel-heading{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid rgb(195 225 228);
    
}
.panel-heading h6{
    color: rgba(8, 155, 171, 1);
    font-size: 18px;
    font-weight: bold;
}

.job_app_div, .p-30{
    padding: 30px;
}
.benefit-employee .user-details-block .user-profile {
    margin-top: 10px; 
}

.select2-container .select2-selection--single {
    height: 35px;
}

.overlay-modal { left: 0; min-height: 100%; right: 0; top: 0; background-color: rgba(0, 0, 0, 0.61); display: none; z-index: 12; position: fixed; overflow-y: scroll; height: 100%;}
/* item details modal */
.item_details_dialog { opacity: 0; -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1); box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1); -moz-box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1); margin: 6% auto 40px; background-color: #fff; -webkit-border-radius: 3px; border-radius: 3px; -moz-border-radius: 3px; position: relative; z-index: 900;}
.fade-box-edit {display: none;}
.fade-box-delete {display: none;}

/*Dialog Header*/
.inner_gray { padding: 10px 12px; background-color: #07415A; border-bottom: 1px solid #e5e5e5; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; color: #fff; font-weight: bold; line-height: 12px; font-size: 12px;}

.inner_gray_text {float: left;}

.inner_gray_close_button { float: right;}

/*Dialog body*/
.inner_body_content { padding: 12px; background-color: #fff; font-size: 14px;padding-bottom: 3px;}

.inner_buttons { background: transparent; border-top: 1px solid #e9eaed; margin: 0 12px; padding: 6px 0; text-align: right;}

.okay_modal_button { padding: 0 8px; background-color: #0c506d; border-color: #435a8b #3c5488 #334c83 !important; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, .2); -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid; -webkit-border-radius: 2px; border-radius: 2px; -moz-border-radius: 2px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); box-shadow: 0 1px 1px rgba(0, 0, 0, .05); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); -webkit-box-sizing: content-box; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-font-smoothing: antialiased; line-height: 20px; font-weight: bold; font-size: 12px; position: relative; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap;}

.cancel_modal_button { padding: 0 8px; margin-left: 4px; border-color: #cdced0 #c5c6c8 #b6b7b9 !important; color: #4e5665; text-shadow: 0 1px 0 #fff; background: #f6f7f8; background-image: -webkit-linear-gradient(top, #ffffff, #f6f7f8); background-image: -moz-linear-gradient(top, #ffffff, #f6f7f8); background-image: -ms-linear-gradient(top, #ffffff, #f6f7f8); background-image: -o-linear-gradient(top, #ffffff, #f6f7f8); background-image: linear-gradient(to bottom, #ffffff, #f6f7f8); -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid; -webkit-border-radius: 2px; border-radius: 2px; -moz-border-radius: 2px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); box-shadow: 0 1px 1px rgba(0, 0, 0, .05); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); -webkit-box-sizing: content-box; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-font-smoothing: antialiased; line-height: 22px; font-weight: bold; font-size: 12px; position: relative; text-align: center; vertical-align: middle; cursor: pointer; display: inline-block; text-decoration: none; white-space: nowrap;}

/*Close Button*/
.item_modal_close { width: 12px; height: 12px; padding: 0; background-color: transparent; border: 0 none; cursor: pointer; font-size: 0 !important; overflow: hidden; vertical-align: middle; background-image: url('../img/common-icon.png'); background-repeat: no-repeat; background-size: auto; background-position: -170px -213px; white-space: nowrap; display: inline-block; text-decoration: none; opacity: 1}
table.table-head th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  color: #000;
}
.text-white{
    color: white !important;
}
.text-black{
    color: black !important;
}
.progress{
    height: 2rem;
    border-radius: 15px;
}
.iq-card.iq-user-profile-block {
    height: 79%;
}
#associateList{
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}
p{
    margin-bottom: 0;
}
.single-employee-search{
  width: 200px;
  float: right;
  position: absolute;
  z-index: 5;
  right: 34px;
  margin-top: 40px;
}
.page-header-summery{
  text-align: center;
}
.page-header-summery h4 b{
  font-size:15px;
}
.panel-body {
    padding: 15px 20px;
}
.page-header{
    text-align:left; margin-bottom: 10px;
}
.table td {
  padding: 0.40rem 0.75rem;
}
input[type="date" i] {
  padding:5px;
  font-size:11px;
}
.dataTables_wrapper .dt-buttons {
  float:right;
  text-align:center;
}
.dataTables_length{
  float:left;
}
.dataTables_filter{
  display: none;
}
.dataTables_processing {
  /* top: 85% !important; */
  z-index: 11000 !important;
  border: 0px !important;
  box-shadow: none !important;
  background: transparent !important;
}
.my-input-class {
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.my-confirm-class {
  padding: 3px 6px;
  font-size: 12px;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #337ab7;
  text-decoration: none;
}
.my-cancel-class {
  padding: 3px 6px;
  font-size: 12px;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #a94442;
  text-decoration: none;
}
.error {
  border: solid 1px;
  border-color: #a94442;
}
.destroy-button{
  padding:5px 10px 5px 10px;
  border: 1px blue solid;
  background-color:lightgray;
}
.toast-top-right{
  background-color:lightgray !important;
}
.swal-footer {
  text-align: center !important;
}
.swal-text {
  text-align: center !important;
}
.swal-modal {
  width: 410px !important;
  height: 330px !important;
}