.stepwizard-row .wizard-step i {
    display: inline;
    margin: 0 20px 0 0;
}
.stepwizard-row .wizard-step a.btn {
	padding: 0px 15px;
}
.setup-content {
    margin-top: 10px;
}
.form-card-details{
	max-height: 375px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.card {
    border: 1px solid #abc2c2;
}