p{
	margin-bottom: 0;
}
.single-employee-search{
  width: 200px;
  float: right;
  position: absolute;
  z-index: 5;
  right: 34px;
  margin-top: 40px;
}
.page-header-summery{
  text-align: center;
}
.page-header-summery h4 b{
  font-size:15px;
}
.panel-body {
    padding: 15px 20px;
}
.page-header{
	text-align:left; margin-bottom: 10px;
}
.table td {
  padding: 0.40rem 0.75rem;
}
input[type="date" i] {
  padding:5px;
}